th, td {
  border: 1px solid black;
  border-radius: 10px; 
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1920px;
  height: 400px;
  margin: 50px;
  outline: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
}
